{% extends "base/global/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load bootstrap3 %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/profile.css' %}" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profile/current_profile.js'%}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Profile" "base:profile" %}
{% endblock %}

{% block content %}
    <main>
         <!-- The new wire modal -->
        <div id="create-wire-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Wire</h4>
                        <button class="close" type="button" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="create-wire-form" class="create-wire-form" role=form method=post action="{% url 'wire_profile:message' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                        </form>
                        <div class="modal-footer">
                            <button class="btn btn-default " type="button" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary " type="submit" form="create-wire-form">Submit Wire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 user-info">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3>Your Page</h3>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-primary create-wire" type="button" data-toggle="modal" data-target="#create-wire-modal">New Wire</button>
                        </li>
                        <li class="list-group-item">
                            <a href="/profile/{{ user.username }}">See how your profile page looks like to others</a>
                        </li>
                    </ul>
                    <ul id="following" class="list-group">
                        <li id="following-header" class="list-group-item">
                            <h3>Following</h3>
                        </li>
                        <li class="list-group-item">
                            <div class="loader"></div>
                        </li>
                    </ul>
                    <ul id="followers" class="list-group">
                        <li id="followers-header" class="list-group-item">
                            <h3>Followers</h3>
                        </li>
                        <li class="list-group-item">
                            <div class="loader"></div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 user-wires">
                    <ul id="messages-list" class="list-group">
                        <li id="messages-header" class="list-group-item">
                            <h3>Your Feed</h3>
                        </li>
                        <li class="list-group-item loader-container">
                            <div class="loader"></div>
                        </li>
                    </ul>
                </div>
                <div id="recommended-users" class="col-sm-3">
                    <ul class="list-group">
                        <li id="recommended-users-header" class="list-group-item">
                            <h3>Other Users</h3>
                        </li>
                        <li class="list-group-item">
                            <div class="loader"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        var jsUsername = '{{ user.username }}';
    </script>
{% endblock %}
