{% extends "base/global/base.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load bootstrap3 %}
{% load static %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'profile/profile.css' %}" />
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profile/profile.js'%}"></script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Profile" "wire_profile:profile" %}
{% endblock %}

{% block title %}
    {{ user.username }}'s Profile
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 user-info">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h3>{{user.username}}'s Page</h3>
                        </li>
                    </ul>
                    <ul id="following" class="list-group">
                        <li id="following-header" class="list-group-item">
                            <h3>Following</h3>
                        </li>
                        <li class="list-group-item">
                            <div class="loader"></div>
                        </li>
                    </ul>
                    <ul id="followers" class="list-group">
                        <li id="followers-header" class="list-group-item">
                            <h3>Followers</h3>
                        </li>
                        <li class="list-group-item">
                            <div class="loader"></div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 user-wires">
                    <ul id="messages-list" class="list-group">
                        <li id="messages-header" class="list-group-item">
                            <h3>Wires</h3>
                        </li>
                        <li class="list-group-item loader-container">
                            <div class="loader"></div>
                        </li>
                    </ul>
                </div>
                <div id="recommended-users" class="col-sm-3">
                    <ul class="list-group">
                        <li id="recommended-users-header" class="list-group-item">
                            <h3>Other Users</h3>
                        </li>
                        <li class="list-group-item">
                            <div class="loader"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        var jsUsername = '{{ user.username }}';
    </script>
{% endblock %}
