{% extends "base/global/base.html" %}

{% load static %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'base/home.js'%}"></script>
{% endblock %}

{% block content %}
    <header class="jumbotron jumbotron-fluid bg-dark text-light">
        <div class="container">
            <h1 class="text-center">What's going on?</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Latest Wires</h1>
                    <ul id="latest-messages" class="messages-list list-group">
                    {% for message in latest_messages %}
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">
                                {{ message.message_text }}
                            </h4>
                            <p class="list-group-item-text">
                                Posted on {{ message.created|date:"d/m/Y" }} at {{ message.created|date:"G:i" }} by <a href="/profile/{{ message.user.username }}">{{ message.user.username }}</a>
                            </p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h1>Latest Tagged Wires</h1>
                    <ul id="latest-tagged-messages" class="messages-list list-group">
                        {% for message in latest_tagged_messages %}
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    {{ message.message_text }}
                                </h4>
                                <p class="list-group-item-text">
                                    Posted on {{ message.created|date:"d/m/Y" }} at {{ message.created|date:"G:i" }} by <a href="/profile/{{ message.user.username }}">{{ message.user.username }}</a>
                                </p>
                            </li>
                        {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}