<html lang="en">
    <head>
        {% include 'base/global/head.html' %}
        <title>Welcome to Wire!</title>
    </head>
    <body>
        {% include 'base/global/header.html' %}
        <header class="jumbotron jumbotron-fluid bg-dark text-light">
            <div class="container">
                <h1 class="text-center">What's going on?</h1>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Latest Wires</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-sm-4">
                        <h1>Popular Tags</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </main>
        {% include 'base/global/footer.html' %}
        {% include 'base/global/loadjs.html' %}
    </body>
</html>
