{% extends "base/global/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Login" "base:login" %}
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <main class="jumbotron">
        <div class="container">
            <div class="row">
                <h2 class="join-msg text-center col-sm-12">Login</h2>
            </div>
            <div class="row">
                <form action="{% url 'base:verify' %}" method="POST" class="col-sm-12 form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="username" placeholder="Username" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" class="form-control" name="password" placeholder="Password" />
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary col-sm-12">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
